*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: $font-family-cera;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: unset;
  transition: all 300ms ease-in-out;
}
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}
img {
  width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: 0;
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}
textarea {
  resize: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

// Images, Flash & video
img,
object,
embed,
video {
  max-width: 100%;
}

//* Remove default table spacing.
table {
  border-collapse: collapse;
  border-spacing: 0;
}